.project-list {
    /* margin-left: 1rem; */
    display: flex;
    flex-direction: column;
    /* flex: 0 0 500px;
    width: 20vw; */
    /* flex: 1 1; */
    overflow-y: hidden;
}

.temp-list {
    flex: 0 0 500px;
    width: 20vw;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    
}