.board-header {
    flex: 0 0 40px;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    padding: 20px;
}

